
 <section class="section-{{ section.id }}-padding custom-product-wrapper">
    <div class="page-width">
        <div class="grid grid--2-col">
            <div class="grid__item left-column">
                <div class="left-column-inner">
                    <div class="left-col-image">
                        <img src="" alt="">
                        <a href=""></a>
                    </div>
                    <div class="left-col-content">
                       <h2></h2>
                    </div>
                </div>                
            </div>
            <div class="grid__item right-column">                
            </div>
        </div>
    </div>
 </section>

{% schema %}
    {
        "name": "Product",
        "settings": [
            {
                "type": "header",
                "content": "Left Column"
            },
            {
                "type": "textarea",
                "id": "left_heading",
                "label": "Heading",
                "default": "Extending The Stadium <span>Experience</span>, To The Home."
            },
            {
                "type": "image_picker",
                "id": "left_image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "link_text",
                "label": "Link Text",
                "default": "More Image"
            },
            {
                "type": "url",
                "id": "link_url",
                "label": "URL"
            },
            {
                "type": "header",
                "content": "Right Column"
            },
            {
                "type": "product",
                "id": "custom_product",
                "label": "Prdouct"
            },
            {
                "type": "image_picker",
                "id": "right_image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "right_link_text",
                "label": "Link Text",
                "default": "More Image"
            },
            {
                "type": "url",
                "id": "right_link_url",
                "label": "URL"
            }, {
                "type": "header",
                "content": "t:sections.all.padding.section_padding_heading"
            }, {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "t:sections.all.padding.padding_top",
                "default": 36
            }, {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "t:sections.all.padding.padding_bottom",
                "default": 36
            }
        ],
        "presets": [
            {
            "name" : "Product"
        }
    ]
    }
{% endschema %}