<section class="policy privacy-policy-conten">
  <div class="page-width">
    <div class="rte">
      {{ shop.privacy_policy.content }}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Content",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}