<section class="policy refund-policy-content">
  <div class="page-width">
    <div class="rte">
      {{ shop.refund_policy.content }}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Content",
    "settings": []
  }
{% endschema %}