<section class="policy shipping-policy-content">
  <div class="page-width">
    <div class="rte">
      {{ shop.policy.body | json }}
    </div>
  </div>
</section>

<ul>
{%- for policy in shop.policies %}
  <li>{{ policy.title }}</li>
{%- endfor %}
</ul>

{% schema %}
  {
    "name": "Content",
    "settings": []
  }
{% endschema %}