<section class="policy shipping-policy-content">
  <div class="page-width">
    <div class="rte">
      {{ shop.shipping_policy.description }}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Content",
    "settings": []
  }
{% endschema %}