<section class="policy privacy-policy-content">
  <div class="page-width">
    <div class="rte">
      {{ shop.terms_of_service }}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Content",
    "settings": []
  }
{% endschema %}