<section class="policy privacy-policy-conten">
  <div class="page-width">
    <div class="rte">
      {{ shop.terms_of_service.content }}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Content",
    "settings": []
  }
{% endschema %}