.hero-banner-content {
<<<<<<< HEAD
    width: 55%;
}

.hero-banner-image {
    width: 45%;
}

.hero-banner {
    border-radius: 10px;
}

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 600px;
}

.banner-heading {
    font-size: 54px;
    line-height: 70.2px;
=======
    width: 53%;
}

.hero-banner-image {
    width: 43%;
>>>>>>> c265b9dfde1b2ff56b4012d8230add12a5db5d3a
}