.product-features .section-header {
    text-align: center;
}

.product-features h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

.product-main-image img {
    margin: 0 auto;
}

.product-main-image {
    position: relative;
}

.product-main-image::before {
    content: '';
    position: absolute;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url(https://cdn.shopify.com/s/files/1/0825/6222/0312/files/Product_Features_Ring.png?v=1695813863);
    height: 542px;
}

.feature-text {
    width: 300px;
}

.feature-text h4 {
    margin: 0;
}

.product-features {
    padding-bottom: 275px !important;
    overflow: hidden;
}

.feature-text p {
    font-size: 17px;
    line-height: 27.8px;
    margin: 0;
}

.feature-text-content {
    content: '';
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom-left-text,
.middle-left-text,
.top-left-text {
    text-align: right;
}

.product-features-inner {
    position: relative;
}

.top-content {
    top: 27%;
    left: 0px;
}

.top-left-text {
    left: -35px;
    position: relative;
}

.top-right-text {
    position: relative;
    right: -40px;
}

.feature-text::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(https://cdn.shopify.com/s/files/1/0825/6222/0312/files/feature-dot.svg?v=1695817102);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.top-left-text::before {
    right: -60px;
    bottom: -35px;
}
.top-right-text::before {
    left: -55px;
    bottom: -40px;
}

.middle-content {
    top: 70%;
    left: 0;
}

.middle-left-text {
    position: relative;
    left: -14%;
}

.middle-right-text {
    position: relative;
    right: -14%;
}

.middle-left-text::before {
    top: 20px;
    right: -65px;
}

.middle-right-text::before {
    left: -65px;
    top: 20px;
}

.bottom-content {
    bottom: -20%;
}
.bottom-left-text {
    position: relative;
    left: -6%;
}

.bottom-left-text::before {
    right: -80px;
    top: -10px;
}

.bottom-right-text {
    position: relative;
    right: -6%;
}

.bottom-right-text::before {
    left: -80px;
    top: -10px;
}

.bottom-middle-text {
    text-align: center;
    position: relative;
    bottom: -140px;
}

.bottom-middle-text::before {
    top: -60px;
    left: 45%;
}