
.testimonials-wrapper .section-header {
    text-align: center;
}

.testimonials-item .rte {
    margin: 30px 0;
    font-size: 16px;
    line-height: 25.8px;
    min-height: 80px;
}

.testimonials-item > h5,
.testimonials-item > p {
    margin: 0;
}

.testimonials-item > p {
    font-size: 18px;
    line-height: 28.8px;
}

.testimonials-slider {
    margin:0 -8px;
}

.testimonials-item{
    margin-right:8px;
    margin-left:8px;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 30px;
}

@media screen and (max-width: 1439px) {
    .testimonials-item {    
        padding: 20px;
    }
    .testimonials-item .rte {
        min-height: 105px;
    }
}
@media screen and (max-width: 991px) {
    .testimonials-item>p {
        font-size: 12px;
        line-height: 20px;
    }
}