.policy {
    font-weight: 300;
}
.policy a{
  color : #FFD913;
  text-decoration: none;
}

table td, table th{
  width: 50%;
}

table {
    width: 100%;
}

table th {
    text-align: left;
    font-size: 21px;
}

@media screen and (max-width: 767px){
  table th {
    font-size: 1.5rem;
}
table td, table th{
  width: unset;
}
.scrollable-wrapper th, .scrollable-wrapper td {
  width: unset;
}
}